#cloud-config
disable_root: false
hostname: l3cni
ssh_pwauth: true
users:
  - name: l3cni
    groups: sudo
    passwd: $6$gIglQCb1Nfz.wReV$LSuLiofoZNPxgN84m4BRICPTBPmuTaXKBQgp7J0YO9H2gQaf247DOTKw99mhWhy7RS2o8mgrQ6PbvbAkPMp7S1
    lock_passwd: false
    shell: /usr/bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
package_update: true
packages:
  - sed
  - awk
  - git
  - jq
  - make
  - clang
  - libc6-dev-i386
  - libbpf-dev
  - linux-tools-$(uname -r)

runcmd:
  - export DEBIAN_FRONTEND=noninteractive
  - echo "installing docker copy and paste from (https://docs.docker.com/engine/install/ubuntu/), snap doesn't work well since we need to copy files between host and containers"
  - apt-get update
  - apt-get install -y ca-certificates curl
  - install -m 0755 -d /etc/apt/keyrings
  - curl -fsSL https://download.docker.com/linux/ubuntu/gpg -o /etc/apt/keyrings/docker.asc
  - chmod a+r /etc/apt/keyrings/docker.asc
  - echo "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.asc] https://download.docker.com/linux/ubuntu $(. /etc/os-release && echo "$VERSION_CODENAME") stable" | tee /etc/apt/sources.list.d/docker.list > /dev/null
  - apt-get update
  - apt-get install -y docker-ce docker-ce-cli containerd.io
  - groupadd docker
  - usermod -aG docker l3cni

  - echo "installing kind"
  - curl -Lo ./kind https://kind.sigs.k8s.io/dl/v0.20.0/kind-linux-amd64
  - chmod +x ./kind
  - mv ./kind /usr/local/bin/kind
  - echo "installing kubectl"
  - snap install kubectl --classic

